*, *::before, *::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

html {
  box-sizing: border-box;
  font-size: 18px; /* root font size */
  letter-spacing: -0.015em;
  scroll-behavior: smooth;
  counter-reset: figure;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--font-family-sans);

  background-color: #fff;
  /* background-color: #f1f5f9; */
  /* color: #121212; */

  width: 100%;
  margin: 0 auto;
}

::selection {
  /* @TODO Update color token */
  background-color: black;
}


/* NEED REFACTOR */

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

nav a {
  padding-right: .75rem;
}

/* nav styles */

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

}