@charset "UTF-8";

/*====================================*\
  CSS Structure
\*====================================*/

/**
 * 00. Global
   01. Utility-first classes
 */

 /* ========================================================================= *\
 * 00. Global
 * 
 * Lorem ipsum lorem ipsum lorem ipsum.
\* ========================================================================= */

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: var(--font-size-default); /* root font size */
  letter-spacing: -0.015em;
  scroll-behavior: smooth;
  counter-reset: figure;
  background-color: #fff;
  color: #222;
}

body {
  font-family: var(--font-family-system);

  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

a {
  /* color: #004fb4 */
  color: #222;
  border-bottom: 1px solid rgba(119,119,119,0.25);
  text-decoration: none;
}

p {
  line-height: 1.466;
}

ul, ol {
  line-height: 1.766;
}

code {
  color: chocolate;
}

figure {
  margin: 0
}


/* NEED REFACTOR */

html.dark {
  background-color: #0d0950;
  color: #fff;
}
html.dark .nav__item,
html.dark .settings svg,
html.dark .header__logo {
  color: #fff!important;
}
html.dark a {
  color: #5fa5ff;
}

h1 {
  font-size: 52px;
}
h2 {
  font-size: 44px
}
h3 {
  font-size: 36px
}
h4 {
  font-size: 30px
}
h5 {
  font-size: 25px
}

@media screen and (min-width: 636px) {

}

/* ========================================================================= *\
 * 02. Utility-Fist classes
 * 
 * TBD.
\* ========================================================================= */

/* Completely hide content from view and from screenreaders */
.u-hide {
  display: none !important;
}

/* Hide content from view, but leave it accessible to screenreaders. http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.u-hide-visually {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}