@charset "UTF-8";

/*====================================*\
  CSS Structure
\*====================================*/

/**
 * 00. Global
   01. Utility-first classes
 */

 /* ========================================================================= *\
 * 00. Global
 * 
 * Lorem ipsum lorem ipsum lorem ipsum.
\* ========================================================================= */

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 21px; /* root font size */
  letter-spacing: -0.015em;
  scroll-behavior: smooth;
  counter-reset: figure;
  background-color: #fff;
}

body {
  font-family: var(--font-family-sans);

  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

a {
  color: #004fb4
}

::selection {
  /* @TODO Update color token */
}


/* NEED REFACTOR */

html.dark {
  background-color: #0d0950;
  color: #fff;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

@media screen and (min-width: 636px) {

}

/* ========================================================================= *\
 * 02. Utility-Fist classes
 * 
 * TBD.
\* ========================================================================= */

/* Completely hide content from view and from screenreaders */
.u-hide {
  display: none !important;
}

/* Hide content from view, but leave it accessible to screenreaders. http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.u-hide-visually {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}