---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About";

---
<BaseLayout pageTitle={pageTitle}>
  <p>You can find me designing user interfaces or coding what I designed. This means that my work involves a
  lot of HTML, CSS, and JavaScript (and its frameworks), but I&nbsp;also use design tools and methodologies. I'm currently based in Prague, Czech
  Republic and working remotely for <a href="https://www.cloudtalk.io/"
    >CloudTalk</a
  >.</p>
</BaseLayout>