---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    You can find me designing user interfaces or coding what I designed. This
    means that my work involves a lot of HTML, CSS, and JavaScript (and its
    frameworks), but I&nbsp;also use design tools and methodologies.
  </p>
  <p>A web professional since 1999, I'm experienced in both design and development, currently specializing in front end as a User Experience Engineer at Google. I'm knowledgeable in UX, web standards, responsive design, accessibility, performance, testing, and the emerging technologies within the field.</p>
  <p>Gilbert Frausto is a Front-end Engineer with extensive expertise in UI development. He has experience in front-end development using JavaScript, HTML, and CSS. He has excellent troubleshooting and analytical skills, is well organized and self-motivated. He delivers exceptional results whether working collaboratively or independently. Enjoys success driven environments and is determined to enhance, create and provide feature rich applications for both emerging startups and established brand name companies. He is a very skilled communicator with exceptional interpersonal skills and is very passionate about agile software development practices.</p>
</BaseLayout>
