---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";

const identity = {
  hobbies: ["running", "jazz music", "hiking", "cycling", "visiting galleries", "swimming"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Svelte"];

---

<BaseLayout pageTitle={pageTitle}>
    <p>Here are a few facts about me:</p>
    <ul>
      <li>I like dealing with every detail of user interface.</li>
      <li>I have maker’s attitude.</li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Two of my hobbies are: {identity.hobbies[0]} and{" "}
            {identity.hobbies[1]}.
          </li>
        )
      }
    </ul>
    <p>My core skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </BaseLayout>
