---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";

---

<BaseLayout pageTitle={pageTitle}>
  <p>I am a designer and front-end developer living on the edge of design and frontend disciplines. I responsible for the quality of frontend implementation and a broader connection to the core layer of the design system. I focus on clean and pixel perfect interaction design.</p>
    <p>Here are a few facts about me:</p>
    <ul>
      <li>I have maker’s attitude</li>
      <li>I studied jazz music</li>
      <li>I like to run</li>
    </ul>
    <p>I've been an sawmill worker, musician, qa engineer, a programmer, developer and a designer.</p>
  </BaseLayout>
