---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Hi, my name is Ondřej Konečný. I love exploring web technologies and enjoy working on the border between design and engineering since high school. 
  </p>
  <p>
    This mean that can find me designing user interfaces or coding what I designed. My work involves a lot of HTML, CSS, and JavaScript (and its
    frameworks), but I&nbsp;also use design tools and methodologies. I am
    passionate about the intersection of design and engineering.
  </p>
</BaseLayout>
