---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Hi, my name is Ondřej. I love exploring web technologies and enjoy working on the border between design and engineering since high school.     This mean that can find me designing user interfaces or coding what I designed. My work involves a lot of HTML, CSS, and JavaScript (and its
    frameworks), but I&nbsp;also use design tools and methodologies.
  </p>
  <p>

  </p>
  <img
  src="/profile-picture2.png"
  alt="A photo of me standing on a street in Vinohrady, where I am happy."
/>
</BaseLayout>
