---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Books";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Just a collection of books that are piling up in my library.</p>
  <h2>What is missing?</h2>
  <ul>
    <li>To Engineer is Human</li>
    <li>The Evolution of useful things</li>
    <li>Learning React: Modern Patterns for Developing React Apps</li>
    <li>The Road to React: Your journey to master plain yet pragmatic React.js</li>
    <li>Learn React with TypeScript - Second Edition: A beginner's guide to reactive web development with React 18 and TypeScript</li>
    <li>Learning Typescript</li>
  </ul>
  <div class="books">
    <a href="https://www.amazon.de/-/cs/dp/1098138716/" class="books__book">
      <div class="books__cover">
<img

        src="/images/books/fluent-react.png"
        alt="Fluent React: Build Fast, Performant, and Intuitive Web Applications"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Fluent React</h3>
        <h4 class="books__subtitle">
          Build Fast, Performant, and Intuitive Web Applications
        </h4>
        <span class="books__year">(2024)</span>
        <span class="books__author">Tejas Kumar</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/199585204-design-that-scales"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/design-that-scale.png"
        alt="Design That Scales: Creating a Sustainable Design System"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Design That Scales</h3>
        <h4 class="books__subtitle">
          Creating a Sustainable Design System Practice
        </h4>
        <span class="books__year">(2023)</span>
        <span class="books__author">Dan Mall</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/8910666-eloquent-javascript"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/eloquent-javascript.png"
        alt="Eloquent JavaScript: A Modern Introduction to Programming"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Eloquent JavaScript</h3>
        <h4 class="books__subtitle">A Modern Introduction to Programming</h4>
        <span class="books__year">(2018)</span>
        <span class="books__author">Marijn Haverbeke</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/17408060-javascript"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/javascript-the-definitive-guide.png"
        alt="JavaScript: The Definitive Guide - David Flanagan"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">JavaScript: The Definitive Guide</h3>
        <span class="books__year">(2006)</span>
        <span class="books__author">David Flanagan</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/75519891-practical-ui"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/practical-ui.jpg"
        alt="Practical UI"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Practical UI</h3>
        <span class="books__year">(2022)</span>
        <span class="books__author">Adham Dannaway</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/35096992-the-big-book-of-dashboards"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/the-big-book-of-dashboards.jpg"
        alt="The Big Book of Dashboards: Visualizing Your Data Using Real-World Business Scenarios"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">The Big Book of Dashboards</h3>
        <h4 class="books__subtitle">
          Visualizing Your Data Using Real-World Business Scenarios
        </h4>
        <span class="books__year">(2017)</span>
        <span class="books__author">Steve Wexler</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/52777482-storytelling-with-data"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/storytelling-with-data.jpg"
        alt="Storytelling with Data: A Data Visualization Guide for Business Professionals"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Storytelling with Data</h3>
        <h4 class="books__subtitle">
          A Data Visualization Guide for Business Professionals
        </h4>
        <span class="books__year">(2015)</span>
        <span class="books__author">Cole Nussbaumer Knaflic</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/43182576-change-by-design-revised-and-updated"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/change-by-design.jpg"
        alt="Change by Design: How Design Thinking Transforms Organizations and Inspires Innovation - Tim Brown"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Change by Design</h3>
        <h4 class="books__subtitle">
          How Design Thinking Transforms Organizations and Inspires Innovation
        </h4>
        <span class="books__year">(2009)</span>
        <span class="books__author">Tim Brown</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/16305276-visualize-this"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/visualize-this.jpg"
        alt="Visualize This: The FlowingData Guide to Design, Visualization, and Statistics"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Visualize This</h3>
        <h4 class="books__subtitle">
          The FlowingData Guide to Design, Visualization, and Statistics
        </h4>
        <span class="books__year">(2011)</span>
        <span class="books__author">Nathan Yau</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/19012420-beautiful-visualization"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/beautiful-visualization.jpg"
        alt="Beautiful Visualization: Looking at Data through the Eyes of Experts - Julia Steele"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Beautiful Visualization</h3>
        <h4 class="books__subtitle">
          Looking at Data through the Eyes of Experts
        </h4>
        <span class="books__year">(2010)</span>
        <span class="books__author">Julia Steele</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/25908623-information-architecture"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/information-architecture.jpg"
        alt="Information Architecture - Peter Morville"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Information Architecture</h3>
        <span class="books__year">(2015)</span>
        <span class="books__author">Peter Morville</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/42401416-the-systems-thinker"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/the-systems-thinker.jpg"
        alt="The Systems Thinker - Albert Rutherford"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">The Systems Thinker</h3>
        <span class="books__year">(2018)</span>
        <span class="books__author">Albert Rutherford</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/42360533-thinking-in-systems"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/thinking-in-systems.jpg"
        alt="Thinking in Systems: A Primer - Donella Meadows"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Thinking in Systems</h3>
        <h4 class="books__subtitle">A Primer</h4>
        <span class="books__year">(2008)</span>
        <span class="books__author">Donella Meadows</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/48913023-expressive-design-systems"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/expressive-design-systems.jpg"
        alt="Expressive Design Systems - Yesenia Perez-Cruz"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Expressive Design Systems</h3>
        <span class="books__year">(2019)</span>
        <span class="books__author">Yesenia Perez-Cruz</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/57652438-hack-the-design-system"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/hack-the-design-system.jpg"
        alt="Hack the Design System: Revolutionize the way your organization scales design"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Hack the Design System</h3>
        <h4 class="books__subtitle">
          Revolutionize the way your organization scales design
        </h4>
        <span class="books__year">(2019)</span>
        <span class="books__author"> Elisa Pyrhonen </span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/17269003-ui-is-communication"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/ui-is-communication.png"
        alt="UI is Communication: How to Design Intuitive, User Centered Interfaces by Focusing on Effective Communication"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">UI is Communication</h3>
        <h4 class="books__subtitle">
          How to Design Intuitive, User Centered Interfaces by Focusing on
          Effective Communication
        </h4>
        <span class="books__year">(2013)</span>
        <span class="books__author">Everett N McKay</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/35528673-design-systems"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/design-systems.png"
        alt="Design Systems: A practical guide to creating design languages for digital products - Alla Kholmatova"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Design Systems</h3>
        <h4 class="books__subtitle">
          A practical guide to creating design languages for digital products
        </h4>
        <span class="books__year">(2017)</span>
        <span class="books__author">Alla Kholmatova</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/49106721-the-what-how-and-why-of-design-systems"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/what-how-why-of-design-systems.png"
        alt="The What, How, and Why of Design Systems"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">The What, How, and Why of Design Systems</h3>
        <span class="books__year">(2020)</span>
        <span class="books__author">Andrea Hock</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/43997930-building-design-systems"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/building-design-systems.png"
        alt="Building Design Systems: Unify User Experiences Through a Shared Design Language - Sarrah Vesselov, Taurie Davis"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Building Design Systems</h3>
        <h4 class="books__subtitle">
          Unify User Experiences Through a Shared Design Language
        </h4>
        <span class="books__year">(2019)</span>
        <span class="books__author">Sarrah Vesselov, Taurie Davis</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/25977680-frontend-architecture-for-design-systems"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/frontend-architecture-for-design-systems.png"
        alt="Frontend Architecture for Design Systems: A Modern Blueprint for Scalable and Sustainable Websites - Micah Godbolt"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Frontend Architecture for Design Systems</h3>
        <h4 class="books__subtitle">
          A Modern Blueprint for Scalable and Sustainable Websites
        </h4>
        <span class="books__year">(2016)</span>
        <span class="books__author">Micah Godbolt</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/45007565-practical-ui-patterns-for-design-systems"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/practical-ui-patterns-for-design-systems.png"
        alt="Practical UI Patterns for Design Systems: Fast-Track Interaction Design for a Seamless User Experience - Diana MacDonald"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Practical UI Patterns for Design Systems</h3>
        <h4 class="books__subtitle">
          Fast-Track Interaction Design for a Seamless User Experience
        </h4>
        <span class="books__year">(2019)</span>
        <span class="books__author">Diana MacDonald</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/50311495-architecting-css"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/architecting-css.png"
        alt="Architecting CSS: The Programmer’s Guide to Effective Style Sheets"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Architecting CSS</h3>
        <h4 class="books__subtitle">
          The Programmer’s Guide to Effective Style Sheets
        </h4>
        <span class="books__year">(2020)</span>
        <span class="books__author">Martine Dowden, Michael Dowden</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/79766.A_Pattern_Language"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/a-pattern-language.jpg"
        alt="A Pattern Language: Towns, Buildings, Construction"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">A Pattern Language</h3>
        <h4 class="books__subtitle">Towns, Buildings, Construction</h4>
        <span class="books__year">(1977)</span>
        <span class="books__author">Christopher Alexander</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/33655949-front-end-style-guides"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/front-end-style-guides.png"
        alt="Anna Debenham - Front-end Style Guides"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Front-end Style Guides</h3>
        <span class="books__year">(2017)</span>
        <span class="books__author">Anna Debenham</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/50754320-the-art-of-color"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/art-of-color.jpg"
        alt="The Art of Color: The Subjective Experience and Objective Rationale of Color - Johannes Itten"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">The Art of Color</h3>
        <h4 class="books__subtitle">
          The Subjective Experience and Objective Rationale of Color
        </h4>
        <span class="books__year">(1961)</span>
        <span class="books__author">Johannes Itten</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/11844045-graphic-design-thinking"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/graphic-design-thinking.jpg"
        alt="Graphic Design Thinking: Beyond Brainstorming"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Graphic Design Thinking</h3>
        <h4 class="books__subtitle">Beyond Brainstorming</h4>
        <span class="books__year">(2011)</span>
        <span class="books__author">Ed. Lupton, Ellen</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/18737922-about-face"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/about-face.jpg"
        alt="About Face: The Essentials of Interaction Design - Alan Cooper"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">About Face</h3>
        <h4 class="books__subtitle">The Essentials of Interaction Design</h4>
        <span class="books__year">(2007)</span>
        <span class="books__author">Alan Cooper</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/54330867-ux-strategy"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/ux-strategy.jpg"
        alt="UX Strategy - Jaime Levy"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">UX Strategy</h3>
        <span class="books__year">(2015)</span>
        <span class="books__author">Jaime Levy</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/27310580-living-with-complexity"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/living-with-complexity.jpg"
        alt="Living with Complexity"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Living with Complexity</h3>
        <span class="books__year">(2016)</span>
        <span class="books__author">Donald A. Norman</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/23660212-things-that-make-us-smart"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/things-that-make-us-smart.jpg"
        alt="Things That Make Us Smart: Defending Human Attributes in the Age of the Machine - Donald A. Norman"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Things That Make Us Smart</h3>
        <h4 class="books__subtitle">
          Defending Human Attributes in the Age of the Machine
        </h4>
        <span class="books__year">(1994)</span>
        <span class="books__author">Donald A. Norman</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/18688837-the-design-of-future-things"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/design-of-future-things.jpg"
        alt="Design of Future Things - Donald A. Norman"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Design of Future Things</h3>
        <span class="books__year">(2009)</span>
        <span class="books__author">Donald A. Norman</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/842.The_Psychology_of_Everyday_Things"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/the-psychology-of-everyday-things.jpg"
        alt="Psychology Of Everyday Things - Donald A. Norman"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Psychology Of Everyday Things</h3>
        <span class="books__year">(1988)</span>
        <span class="books__author">Donald A. Norman</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/17980023-blue-ocean-strategy-how-to-create-uncontested-market-space-and-make-the"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/blue-ocean-strategy.jpg"
        alt="Blue Ocean Strategy - W Chan Kim"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Blue Ocean Strategy</h3>
        <h4 class="books__subtitle">
          How to Create Uncontested Market Space and Make the Competition
          Irrelevant
        </h4>
        <span class="books__year">(2004)</span>
        <span class="books__author">W Chan Kim</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/24148822-designing-for-the-digital-age"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/designing-for-the-digital-age.jpg"
        alt="Designing for the Digital Age: How to Create Human-Centered Products and Services - Kim Goodwin"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Designing for the Digital Age</h3>
        <h4 class="books__subtitle">
          How to Create Human-Centered Products and Services
        </h4>
        <span class="books__year">(2009)</span>
        <span class="books__author">Kim Goodwin</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/27968897-org-design-for-design-orgs"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/org-design-for-design-orgs.jpg"
        alt="Org Design for Design Orgs: Building and Managing In-House Design Teams"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Org Design for Design Orgs</h3>
        <h4 class="books__subtitle">
          Building and Managing In-House Design Teams
        </h4>
        <span class="books__year">(2016)</span>
        <span class="books__author">Peter Merholz</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/13099738-steal-like-an-artist"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/steal-like-an-artist.jpg"
        alt="Steal Like an Artist: 10 Things Nobody Told You About Being Creative"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Steal Like an Artist</h3>
        <h4 class="books__subtitle">
          10 Things Nobody Told You About Being Creative
        </h4>
        <span class="books__year">(2012)</span>
        <span class="books__author">Austin Kleon</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/28011627-the-lean-startup"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/the-lean-startup.jpg"
        alt="The Lean Startup"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">The Lean Startup</h3>
        <span class="books__year">(2011)</span>
        <span class="books__author">Eric Ries</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/17017701-web-form-design"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/web-form-design.jpg"
        alt="Web Form Design: Filling in the Blanks"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Web Form Design</h3>
        <h4 class="books__subtitle">Filling in the Blanks</h4>
        <span class="books__year">(2008)</span>
        <span class="books__author">Luke Wroblewski</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/23523078-how-to-make-sense-of-any-mess"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/how-to-make-sense-of-any-mess.jpg"
        alt="How to Make Sense of Any Mess - Abby Covert"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">How to Make Sense of Any Mess</h3>
        <span class="books__year">(2014)</span>
        <span class="books__author">Abby Covert</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/34466367-emotional-design"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/emotional-design.jpg"
        alt="Emotional Design: Why We Love (or Hate) Everyday Things"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Emotional Design</h3>
        <h4 class="books__subtitle">Why We Love (or Hate) Everyday Things</h4>
        <span class="books__year">(2003)</span>
        <span class="books__author">Don Norman</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/44787111-the-non-designer-s-design-book?"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/non-designers-design-book.jpg"
        alt="Non-Designer's Design Book"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Non-Designer's Design Book</h3>
        <span class="books__year">(1994)</span>
        <span class="books__author">Robin Williams</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/22285809-the-design-of-everyday-things"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/the-design-of-everyday-things.jpg"
        alt="The Design of Everyday Things"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">The Design of Everyday Things</h3>
        <span class="books__year">(1988)</span>
        <span class="books__author">Don Norman</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/51718559-designing-interfaces"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/designing-interfaces.jpg"
        alt="Designing Interfaces: Patterns for Effective Interaction Design"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Designing Interfaces</h3>
        <h4 class="books__subtitle">
          Patterns for Effective Interaction Design
        </h4>
        <span class="books__author">Jenifer Tidwell</span>
        <span class="books__year">(2005)</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/72216822-stuck-diagrams-help"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/stuck-diagrams-help.jpg"
        alt="Stuck? Diagrams help."
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Stuck? Diagrams help.</h3>
        <span class="books__year">(2022)</span>
        <span class="books__author">Abby Covert</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/5674421-designing-web-interfaces"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/designing-web-interfaces.jpg"
        alt="Designing Web Interfaces"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Designing Web Interfaces</h3>
        <h4 class="books__subtitle">
          Principles and Patterns for Rich Interactions
        </h4>
        <span class="books__author">Bill Scott</span>
        <span class="books__year">(2009)</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/36391688-the-new-css-layout"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/the-timeless-way-of-building.jpg"
        alt="The New CSS Layout - Rachel Andrew"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">The Timeless Way of Building</h3>
        <span class="books__year">(1979)</span>
        <span class="books__author">Christopher Alexander</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/19438156-grid-systems-in-graphic-design-raster-systeme-fur-die-visuele-gestaltung"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/grid-systems.png"
        alt="Grid Systems in Graphic Design - Josef Müller-Brockmann"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Grid Systems in Graphic Design</h3>
        <span class="books__year">(1996)</span>
        <span class="books__author">Josef Müller-Brockmann</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/42275474-form-design-patterns"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/form-design-patterns.png"
        alt="Form Design Patterns - Adam Silver"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Form Design Patterns</h3>
        <span class="books__year">(2018)</span>
        <span class="books__author">Adam Silver</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/51456693-the-laws-of-simplicity"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/the-laws-of-simplicity.png"
        alt="The laws of simplicity"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">The Laws of Simplicity</h3>
        <span class="books__year">(2006)</span>
        <span class="books__author">John Maeda</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/39913835-when-coffee-and-kale-compete"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/when-coffee-and-kale-compete.jpg"
        alt="When Coffee and Kale Compete: Become great at making products people will buy"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">When Coffee and Kale Compete</h3>
        <h4 class="books__subtitle">
          Become great at making products people will buy
        </h4>
        <span class="books__year">(2018)</span>
        <span class="books__author">Alan Klement</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/18624237-simple-and-usable-web-mobile-and-interaction-design"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/simple-and-usable.jpg"
        alt="Simple and Usable: Web, Mobile, and Interaction Design (Voices That Matter)"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Simple and Usable</h3>
        <h4 class="books__subtitle">
          Web, Mobile, and Interaction Design (Voices That Matter)
        </h4>
        <span class="books__author">Giles Colborne</span>
        <span class="books__year">(2010)</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/45038512-design-for-how-people-think"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/designing-for-how-people-think.jpg"
        alt="Design for How People Think: Using Brain Science to Build Better Products"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Designing for How People Think</h3>
        <h4 class="books__subtitle">
          Using Brain Science to Build Better Products
        </h4>
        <span class="books__year">(2019)</span>
        <span class="books__author">John Whalen</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/50219153-inclusive-design-for-a-digital-world"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/inclusive-design-for-a-digital-world.png"
        alt="Inclusive Design for a Digital World: Designing with Accessibility in Mind - Reginé Gilbert"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Inclusive Design for a Digital World</h3>
        <h4 class="books__subtitle">Designing with Accessibility in Mind</h4>
        <span class="books__year">(2019)</span>
        <span class="books__author">Reginé Gilbert</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/31191083-design-for-the-mind"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/design-for-the-mind.jpg"
        alt="Design for the Mind: Seven Psychological Principles of Persuasive Design"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Design for the Mind</h3>
        <h4 class="books__subtitle">
          Seven Psychological Principles of Persuasive Design
        </h4>
        <span class="books__author">Victor Yocco</span>
        <span class="books__year">(2016)</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/29095887-validating-product-ideas"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/validating-product-ideas.jpg"
        alt="Validating Product Ideas: Through Lean User Research"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Validating Product Ideas</h3>
        <h4 class="books__subtitle">Through Lean User Research</h4>
        <span class="books__year">(2016)</span>
        <span class="books__author">Tomer Sharon</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/25359653-hooked"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/hooked-how-to-build-habit-forming-products.jpg"
        alt="Hooked: How to Build Habit-Forming Products"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Hooked</h3>
        <h4 class="books__subtitle">How to Build Habit-Forming Products</h4>
        <span class="books__year">(2013)</span>
        <span class="books__author">Nir Eyal</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/175345984-refactoring-ui-steve-schoger-adam-wathan"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/refactoring-ui.png"
        alt="Refactoring UI - Adam Wathan, Steve Schoger"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Refactoring UI</h3>
        <span class="books__year">(2018)</span>
        <span class="books__author">Adam Wathan, Steve Schoger</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/23430236-ux-strategy"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/universal-principles-of-design.jpg"
        alt="UX Strategy: How to Devise Innovative Digital Products that People Want"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Universal Principles of Design</h3>
        <span class="books__year">(2003)</span>
        <span class="books__author">William Lidwell</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/32615083-inclusive-design-patterns---coding-accessibility-into-web-design"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/inclusive-design-patterns.png"
        alt="Inclusive Design Patterns - Coding Accessibility Into Web Design - Heydon Pickering"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Inclusive Design Patterns</h3>
        <h4 class="books__subtitle">Coding Accessibility Into Web Design</h4>
        <span class="books__year">(2016)</span>
        <span class="books__author">Heydon Pickering</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/30014108-prototyping-for-designers"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/prototyping-for-designers.jpg"
        alt="Prototyping for Designers: Developing the Best Digital and Physical Products"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Prototyping for Designers</h3>
        <h4 class="books__subtitle">
          Developing the Best Digital and Physical Products
        </h4>
        <span class="books__year">(2016)</span>
        <span class="books__author">Kathryn McElroy</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/30213252-don-t-make-me-think"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/dont-make-me-think.png"
        alt="Don't Make Me Think: A Common Sense Approach to Web Usability"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Don't Make Me Think</h3>
        <h4 class="books__subtitle">
          A Common Sense Approach to Web Usability
        </h4>
        <span class="books__year">(2000)</span>
        <span class="books__author">Steve Krug</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/17553712-lean-ux"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/lean-ux.jpg"
        alt="Lean UX: Applying Lean Principles to Improve User Experience"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Lean UX</h3>
        <h4 class="books__subtitle">
          Applying Lean Principles to Improve User Experience
        </h4>
        <span class="books__year">(2013)</span>
        <span class="books__author">Jeff Gothelf, Josh Seiden</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/36391688-the-new-css-layout"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/the-new-css-layout.png"
        alt="The New CSS Layout - Rachel Andrew"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">The New CSS Layout</h3>
        <span class="books__year">(2017)</span>
        <span class="books__author">Rachel Andrew</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/29503407-web-ui-design-for-the-human-eye"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/web-ui-design-for-the-human-eye.png"
        alt="Web UI Design for the Human Eye: Colors, Space, Contrast - UXpin"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Web UI Design for the Human Eye</h3>
        <h4 class="books__subtitle">Colors, Space, Contrast</h4>
        <span class="books__year">(2015)</span>
        <span class="books__author">UXpin</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/23223134-user-story-mapping"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/user-story-mapping.jpg"
        alt="User Story Mapping - Discover the Whole Story, Build the Right Product"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">User Story Mapping</h3>
        <h4 class="books__subtitle">
          Discover the Whole Story, Build the Right Product
        </h4>
        <span class="books__year">(2014)</span>
        <span class="books__author">Jeff Patton</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/36313030-accessibility-for-everyone"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/accessibility-for-everyone.png"
        alt="Accessibility for Everyone - Laura Kalbag"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Accessibility for Everyone</h3>
        <span class="books__year">(2017)</span>
        <span class="books__author">Laura Kalbag</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/35379854-color-accessibility-workflows"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/color-accessibility-workflows.png"
        alt="Color Accessibility Workflows"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Color Accessibility Workflows</h3>
        <span class="books__author">Geri Coady</span>
        <span class="books__year">(2017)</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/36175447-vzh-ru-do-responzivn-ho-webdesignu"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/vzhuru-do-responzivniho-web-designu.png"
        alt="Vzhůru do (responziv­ního) webdesignu - Martin Michálek"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Vzhůru do (responziv­ního) webdesignu</h3>
        <span class="books__year">(2017)</span>
        <span class="books__author">Martin Michálek</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/30296434-css-mastery"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/css-mastery.png"
        alt="CSS Mastery: Advanced Web Standards Solutions - Andy Budd, Emil Björklund "
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">CSS Mastery</h3>
        <span class="books__year">(2016)</span>
        <span class="books__author">Andy Budd, Emil Björklund</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/28485920-get-ready-for-css-grid-layout"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/get-ready-for-css-grid-layout.png"
        alt="Get Ready for CSS Grid Layout - Rachel Andrew"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Get Ready for CSS Grid Layout</h3>
        <span class="books__year">(2016)</span>
        <span class="books__author">Rachel Andrew</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/34739466-svg-animations"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/svg-animations.png"
        alt="SVG Animations: From Common UX Implementations to Complex Responsive Animation - Sarah Drasner"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">SVG Animations</h3>
        <h4 class="books__subtitle">
          From Common UX Implementations to Complex Responsive Animation
        </h4>
        <span class="books__year">(2017)</span>
        <span class="books__author">Sarah Drasner</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/34275031-atomic-design"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/atomic-design.png"
        alt="Atomic Design - Brad Frost"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Atomic Design</h3>
        <span class="books__year">(2016)</span>
        <span class="books__author">Brad Frost</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/26039236-css-secrets"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/css-secrets.png"
        alt="CSS Secrets: Better Solutions to Everyday Web Design Problems - Lea Verou"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">CSS Secrets</h3>
        <h4 class="books__subtitle">
          Better Solutions to Everyday Web Design Problems
        </h4>
        <span class="books__year">(2014)</span>
        <span class="books__author">Lea Verou</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/31277338-practical-svg"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/practical-svg.png"
        alt="Practical SVG - Chris Coyier"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Practical SVG</h3>
        <span class="books__author">Chris Coyier</span>
        <span class="books__year">(2016)</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/16329114-the-essential-guide-to-user-interface-design"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/the-essential-guide-to-user-interface-design.jpg"
        alt="The Essential Guide to User Interface Design: An Introduction to GUI Design"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">
          The Essential Guide to User Interface Design
        </h3>
        <h4 class="books__subtitle">An Introduction to GUI Design</h4>
        <span class="books__year">(1997)</span>
        <span class="books__author">Wilbert O Galitz</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/27970169-going-responsive"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/going-responsive.png"
        alt="Going Responsive - Karen McGrane"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Going Responsive</h3>
        <span class="books__year">(2015)</span>
        <span class="books__author">Karen McGrane</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/27970154-responsive-design"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/responsive-design-patterns-and-principles.png"
        alt="Responsive Design: Patterns & Principles - Ethan Marcotte"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Responsive Design: Patterns & Principles</h3>
        <span class="books__author">Ethan Marcotte</span>
        <span class="books__year">(2015)</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/31673634-vzh-ru-do-css3"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/vzhuru-do-css.png"
        alt="Vzhůru do CSS - Martin Michálek"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Vzhůru do CSS</h3>
        <span class="books__year">(2015)</span>
        <span class="books__author">Martin Michálek</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/27134224-articulating-design-decisions"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/articulating-design-decisions.jpg"
        alt="Articulating Design Decisions: Communicate with Stakeholders, Keep Your Sanity, and Deliver the Best"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Articulating Design Decisions</h3>
        <h4 class="books__subtitle">
          Communicate with Stakeholders, Keep Your Sanity, and Deliver the Best
          UX
        </h4>
        <span class="books__year">(2015)</span>
        <span class="books__author">Tom Greever</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/23588216-responsible-responsive-design"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/responsive-responsible-design.png"
        alt="Responsible Responsive Design - Scott Jehl"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Responsible Responsive Design</h3>
        <span class="books__year">(2014)</span>
        <span class="books__author">Scott Jehl</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/20310823-a-web-for-everyone"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/web-for-everyone.png"
        alt="A Web for Everyone: Designing Accessible User Experiences - Sarah Horton, Whitney Quesenbery, Aaron Gustafson"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">A Web for Everyone</h3>
        <h4 class="books__subtitle">Designing Accessible User Experiences</h4>
        <span class="books__year">(2014)</span>
        <span class="books__author"
          >Sarah Horton, Whitney Quesenbery, Aaron Gustafson</span
        >
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/21203620-global-ux"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/global-ux-design-and-research-in-a-connected-world.jpg"
        alt="Global UX Design and Research in a Connected World "
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">
          Global UX Design and Research in a Connected World
        </h3>
        <span class="books__year">(2011)</span>
        <span class="books__author">Whitney Quesenbery</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/20317277-sass-for-web-designers"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/sass-for-web-designers.png"
        alt="Sass for Web Designers - Dan Cederholm"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Sass for Web Designers</h3>
        <span class="books__year">(2013)</span>
        <span class="books__author">Dan Cederholm</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/21818490-the-principles-of-beautiful-web-design"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/the-principles-of-beautiful-web-design.png"
        alt="The Principles of Beautiful Web Design"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">The Principles of Beautiful Web Design</h3>
        <span class="books__year">(2010)</span>
        <span class="books__author">Jason Beaird</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/54484331-designing-for-emotion"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/designing-for-emotion.jpg"
        alt="Designing for Emotion"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Designing for Emotion</h3>
        <span class="books__year">(2011)</span>
        <span class="books__author">Aarron Walter</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/24289479-responsive-web-design"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/responsive-web-design.png"
        alt="Responsive Web Design - Ethan Marcotte"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Responsive Web Design</h3>
        <span class="books__year">(2011)</span>
        <span class="books__author">Ethan Marcotte</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/21215148-html-semantics"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/html-semantics.png"
        alt="HTML Semantics - Smashing Magazine"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">HTML Semantics</h3>
        <span class="books__year">(2012)</span>
        <span class="books__author">Smashing Magazine</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/18334317-html5-for-web-designers"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/html5-for-web-designers.png"
        alt="HTML5 for Web Designers - Jeremy Keith"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">HTML5 for Web Designers</h3>
        <span class="books__author">Jeremy Keith</span>
        <span class="books__year">(2010)</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/18323642-css3-for-web-designers"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/css3-for-web-designers.png"
        alt="CSS3 for Web Designers - Dan Cederholm"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">CSS3 for Web Designers</h3>
        <span class="books__author">Dan Cederholm</span>
        <span class="books__year">(2010)</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/18652732-designing-with-the-mind-in-mind"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/designing-with-the-mind-in-mind.jpg"
        alt="Designing with the Mind in Mind"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Designing with the Mind in Mind</h3>
        <span class="books__year">(2010)</span>
        <span class="books__author">Jeff Johnson</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/21978266-designing-with-web-standards"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/designing-with-web-standards.png"
        alt="Designing with Web Standards"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Designing with Web Standards</h3>
        <span class="books__author">Jeffrey Zeldman</span>
        <span class="books__year">(2009)</span>
      </figcaption>
    </a>
    <a href="https://www.goodreads.com/book/show/26420.CSS" class="books__book">
      <div class="books__cover">
<img

        src="/images/books/css-the-definitive-guide.png"
        alt="CSS: The Definitive Guide - Eric A. Meyer"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">CSS: The Definitive Guide</h3>
        <span class="books__author">Eric A. Meyer</span>
        <span class="books__year">(2000)</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/17866742-bulletproof-web-design"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/bulletproof-web-design.png"
        alt="Bulletproof Web Design - Dan Cederholm"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Bulletproof Web Design</h3>
        <span class="books__year">(2005)</span>
        <span class="books__author">Dan Cederholm</span>
      </figcaption>
    </a>
    <a
      href="https://www.goodreads.com/book/show/25816242-interaction-design"
      class="books__book"
    >
      <div class="books__cover">
<img

        src="/images/books/interaction-design-behind-human-computer.png"
        alt="Interaction Design: Beyond Human‑Computer"
        width="200"
      /></div>
      <figcaption class="books__caption">
        <h3 class="books__title">Interaction Design: Beyond Human-Computer</h3>
        <span class="books__year">(2002)</span>
        <span class="books__author">Jenny Preece</span>
      </figcaption>
    </a>
  </div>
</BaseLayout>

<style>
  .books {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  .books__book {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    flex: 1 0 30%;
    justify-content: flex-start;
    color: var(--color-text)
  }
  .books__cover {
    height: 250px;
    width: fit-content;
  }
  .books__title {
    font-size: 21px;
    font-weight: 400;
    margin: 0
  }
  .books__subtitle {
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
  }
  .books__year {
    font-size: 14px;
    font-family: var(--font-family-code);
  }
  .books__author {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    display: flow-root;
  }
</style>
