---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Books";

---

<BaseLayout pageTitle={pageTitle}>
  <p>Just a collection of books that are piling up in my library.</p>
</BaseLayout>
