---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/blog/*/*md");
const pageTitle = null;
---

<BaseLayout pageTitle={pageTitle}>
  <!-- <h1 class="screen-reader-only">Homepage</h1> -->
  <div class="hp-intro">
    <img
      src="/profile-picture.png"
      alt="photo of me from my wedding where I look happy"
    />
    <p>
      Hi, I’m Ondřej and I really enjoy exploring Web technologies. You can find me on the
      border between design and engineering. This mostly means that my work involves a
      lot of HTML, CSS, and JavaScript, but I also use design tools and methodologies. I'm currently based in Prague, Czech
      Republic and working remotely for <a href="https://www.cloudtalk.io/"
        >CloudTalk</a
      >. You can easily email me at <a href="mailto:ondrej.konecny@gmail.com"
        >ondrej.konecny@gmail.com</a
      > or&nbsp;get in touch via <a href="https://twitter.com/ondrejkonec">Twitter</a> or <a
        href="https://linkedin.com//in/ondrejkonec">LinkedIn</a
      >.
    </p>
  </div>

  <h2>Blog</h2>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>

<style>
  h2 {
    margin-top: 4rem;
  }
  img {
    float: right;
    width: 264px;
    shape-outside: circle(calc(50% + 1rem));
    padding-left: 20px;
    margin-right: -90px;
  }
  p {
    font-size: 27px;
    line-height: 1.598;
    hyphens: auto;
  }
</style>
