---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/blog/*/*md");
const pageTitle = null;
---

<BaseLayout pageTitle={pageTitle}>
  <!-- <h2>Hi, I’m Ondřej. Designer based in Prague, Czech Republic. Currently working at CloudTalk.</h2> -->
  <h1 class="screen-reader-only">Homepage</h1>
  <div class="hp-intro">
    <img src="/profile-picture.png" alt="photo of me from my wedding where I look happy" />
    <p>
      Hi, I’m Ondřej! I enjoy exploring web technologies and my space is on
      the border between design and engineering. That means that my work involves a lot of HTML,
      CSS, and JavaScript, but I also have plenty of experience with design
      tools and methodologies. I'm currently based in Prague, Czech Republic and
      working remotely for <a href="https://www.cloudtalk.io/">CloudTalk</a>. You can easily email me at <a
        href="mailto:ondrej.konecny@gmail.com">ondrej.konecny@gmail.com</a
      > or&nbsp;get in touch via <a href="https://twitter.com/">Twitter</a> or <a
        href="https://linkedin.com//in/ondrejkonec">LinkedIn</a
      >.
    </p>
  </div>
  <!-- <p style="font-size: 42px;">Hey! I’m Ondřej and I'm designer and developer. I love exploring web technologies and enjoy working on the border between design and engineering.</p>
  <p style="font-size: 27px; line-height: 1.6">My work involves a lot of HTML, CSS, and JavaScript, but I also have plenty of experience with design tools and methodologies. I'm currently based in Prague, Czech Republic and working remotely for <a href="">CloudTalk</a>. You can easily email me at <a href="mailto:ondrej.konecny@gmail.com">ondrej.konecny@gmail.com</a> or get in touch via <a href="https://twitter.com/ondrejkonec">Twitter</a> or <a href="https://linkedin.com/in/ondrejkonec">LinkedIn</a>.</p> -->
  <h2>Blog</h2>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>

<style>

  img {
    float: right;
    width: 264px;
    shape-outside: circle(calc(50% + 1rem));
    padding-left: 20px;
    margin-right: -90px;
  }
  p {
    font-size: 27px;
    line-height: 1.598;
    hyphens: auto;
  }

</style>
