---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("../pages/blog/*/*md");
const pageTitle = null;
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="screen-reader-only">Homepage</h1>
  <div>
    <img
      src="/profile-picture.png"
      alt="photo of me from my wedding where I look happy"
    />
    <p class="lead">
      Hey! I’m Ondřej, and I build software and enjoy exploring Web technologies.</p>
      <p>You can find me designing user interfaces or coding what I designed. This means that my work involves a
      lot of HTML, CSS, and JavaScript (and its frameworks), but I&nbsp;also use design tools and methodologies. I'm currently based in Prague, Czech
      Republic and working remotely for <a href="https://www.cloudtalk.io/"
        >CloudTalk</a
      >.</p>
      <p>You can easily email me at <a href="mailto:ondrej.konecny@gmail.com"
        >ondrej.konecny@gmail.com</a
      > or&nbsp;get in touch via <a href="https://twitter.com/ondrejkonec">Twitter</a> or <a
        href="https://linkedin.com//in/ondrejkonec">LinkedIn</a
      >.
    </p>
    <!-- <p>
      Hi, I’m Ondřej and I enjoy exploring Web technologies. You can find me designing user interfaces or coding what I designed. This means that my work involves a
      lot of HTML, CSS, and JavaScript (and its frameworks), but I also use design tools and methodologies on daily basis. I'm currently based in Prague, Czech
      Republic and working remotely for <a href="https://www.cloudtalk.io/"
        >CloudTalk</a
      >. You can easily email me at <a href="mailto:ondrej.konecny@gmail.com"
        >ondrej.konecny@gmail.com</a
      > or&nbsp;get in touch via <a href="https://twitter.com/ondrejkonec">Twitter</a> or <a
        href="https://linkedin.com//in/ondrejkonec">LinkedIn</a
      >.
    </p> -->
  </div>

  <h2>Blog</h2>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>

<style>
  h2 {
    margin-top: 4rem;
  }
  img {
    float: right;
    width: 264px;
    shape-outside: circle(calc(50% + 1rem));
    padding-left: 20px;
    margin-right: -90px;
  }
  .lead {
    font-weight: 700;
    line-height: 1.383;
    font-size: 35px;
    max-width: 900px;
  }
  p {
    font-size: 21px;
    hyphens: auto;
    max-width: 710px;
  }
</style>
