---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "People";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is place where I want to highlight the best people.</p>
  <ul>
    <li>Rachel Andrew</li>
    <li>Cassidy Williams</li>
    <li>Max Böck</li>
    <li>Nathan Curtis</li>
    <li>Dan Cederholm</li>
    <li>Eric A. Meyer</li>
    <li>Laura Kalbag</li>
    <li>Sarah Drasner</li>
    <li>Shawn Wang</li>
    <li>Jonathan Snook</li>
    <li>Jeremy Keith</li>
    <li>Sara Soueidan</li>
    <li>Lynn Fisher</li>
    <li>Cassie Evans</li>
    <li>Una Kravets</li>
    <li>Ethan Marcotte</li>
    <li>Manuel Matuzović</li>
    <li>Tantek Çelik</li>
    <li>Josh W. Comeau</li>
    <li>Matthias Ott</li>
    <li>Hidde de Vries</li>
    <li>Chris Coyier</li>
    <li>Brad Frost</li>
    <li>Sarrah Vesselov</li>
    <li>Abby Covert</li>
  </ul>
</BaseLayout>
