---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "People";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is place where I want to highlight the best people.</p>
  <ul>
    <li>Rachel Andrew</li>
    <li>Cassidy Williams</li>
    <li>Max Böck</li>
  </ul>
</BaseLayout>
