---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "People";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is place where I want to highlight the best people.</p>
</BaseLayout>
