---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Places";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is space for shots from some places around the world.</p>
</BaseLayout>
