---

---

<footer class="footer">
  <div class="footer__wrapper">
    <nav class="footer__nav" aria-label="More on this site">
      <a class="footer__link" href="/books/">Books</a>
    </nav>
    <div class="footer__content">
      <p class="footer__info">
        ©2018–2024 Written, designed, and built by Ondřej Konečný
      </p>
      <section class="footer__socials">
        <a class="footer__link" href="https://github.com/ondrejkonec">GitHub</a>
        <a class="footer__link" href="https://codepen.io/ondrejko">CodePen</a>
        <a class="footer__link" href="https://twitter.com/ondrejkonec">Twitter</a
        >
        <a class="footer__link" href="https://www.linkedin.com/in/ondrejkonec"
          >LinkedIn</a
        >
      </section>
    </div>
  </div>
</footer>

<style>
  .footer {
    color: white;
    padding: 2rem 0;
    background-color: #121212;;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1200px;
    margin-inline: auto;
  }
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1.2rem;
  }
  .footer__info {
    margin: 0;
  }
  .footer__socials {
    display: flex;
    gap: 1.7rem;
  }
  .footer__link {
    color: #fff;
    text-decoration: none;
  }
</style>
