---
import ThemeSwitcher from './ThemeSwitcher.astro';
---
<nav class="nav" aria-label="Menu">
  <a class="nav__item" href="/blog/">Blog</a>
  <a class="nav__item" href="/about/">About</a>
  <a class="nav__item" href="/tags/">Tags</a>
  <ThemeSwitcher class="fuck" />
</nav>

<style>
  .nav {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .nav__item {
    color: #121212;
    font-size: 21px;
    line-height: 1;
    text-decoration: none;
    font-weight: 500;
    padding: 8px;
  }

</style>