---
import Settings from './Settings.astro';
---
<nav class="nav" aria-label="Menu">
  <a class="nav__item" href="/">Home</a>
  <a class="nav__item" href="/blog/">Blog</a>
  <a class="nav__item" href="/about/">About</a>
  <!-- <a class="nav__item" href="/tags/">Tags</a> -->
  <Settings />
</nav>

<style>
  .nav {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .nav__item {
    color: #121212;
    line-height: 1;
    text-decoration: none;
    padding: 8px;
  }

</style>