---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/design-tokens.css';
import '../styles/global.css';

const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    
  </head>
  <body>
    <a href="#main" class="skip-to-content">Skip to content</a>
    <Header />
    <main id="main">
      <h1>{pageTitle}</h1>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    max-width: 1200px;
    width: 900px;
    margin-inline: auto;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 2.5rem 0; 
  }

  /* Screen readers skip */
.skip-to-content {
  padding: 0.8rem 3.2rem;
  position: fixed;
  left: 12px;
  top: 12px;
  clip: rect(0 0 0 0);
  z-index: 10;
  background-color: #121212;
  color: white;
  outline: 0;
  border: 2px solid white;
  font-weight: 700;
  text-decoration: none;
}
.skip-to-content:focus {
  clip: unset;
}
</style>